*{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}
.hero{
    height: 100vh;
    width: 100%;
    position: relative;
    background: #202126;
}
 nav{
    display: flex;
    width: 90%;
    margin: 5px 0px 90px;
    padding: 40px 50px;
    align-items: center;
    justify-content: space-between;
 }

 nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 25px 120px;
 }

 nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.4s;
 }

 nav ul li a:hover{
    color: rgb(250, 181, 19);
 }
 .logo{
    width: 180px;
    margin: 0px 0px 80px 30px;
 }

.detel{
margin-left: 8%;
margin-top: 13%;
}
.detel h1{
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}
span{
    color: orange;
}

.detel p{
    color: white;
    line-height: 20px;
}

.detel a{
    background: white;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #212227;
    display: inline-block;
    margin: 30px 0px;
    border-radius: 5px;
    transition: 0.4s;
}
.detel a:hover{
    background: rgb(239, 140, 27);
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .girl{
    left: 45%;
}
